**
!dist/*.js
!server/**
!syntaxes/**
!snippets/**
!images/**
!package.json
!README.md
!LICENSE
!THIRD_PARTY_NOTICES.md
!docs/assistant-tools.md
!docs/lua-utilities.md
!docs/assets.md
!docs/nui-preview.md
!docs/resource-templates.md
